html {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.b25 {
  background: #e30780; /* Change the background color to pink */
  color: #ffffff; /* Change the text color to white */
}

.container-fluid .h4,
.container-fluid .h2 {
  color: #ffffff; /* Change the text color to white */
}

.b1 {
  color: black;
}
.outlineNone {
  outline: none !important;
  border: none;
}
.a:hover img {
  transition: 0.3s ease-in-out;
  transform: scale(1.05, 1.05);
  border: 1px solid #1b1b1b !important;
}
.aBord-none:hover img {
  transition: 0.3s ease-in-out;
  transform: scale(1.05, 1.05);
}
.gotopbtn {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 4.5%;
  right: 5%;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  z-index: 15;
}

/* Home.css */

.container-fluid .h4 {
  font-size: 1.5rem;
  margin-top: 0.5rem;
}

.container-fluid .h2 {
  font-size: 2rem;
  text-align: center;
  margin-top: 0.5rem;
}

.container-fluid .dropdown {
  float: right;
}

.container-fluid .btn {
  color: white;
}

.container-fluid .dropdown-menu {
  right: 0;
}

.carousel-caption .h3 {
  font-size: 1.5rem;
  text-transform: uppercase;
  border: 5px solid #ffc107 !important;
}

.container-fluid.bg-warning .h5 {
  padding-top: 1.25rem;
  margin-bottom: 0;
  text-align: center;
  font-weight: bold;
}

.container-fluid.bg-warning .h3 {
  padding-top: 1.25rem;
  margin-bottom: 0;
  text-align: center;
  font-weight: bold;
}

.container-fluid.bg-warning .h6 {
  text-align: center;
  font-weight: bold;
}

.alert.b25 {
  opacity: 0.9;
}

.container #depart .card {
  border: 0;
}

.container #depart .card-img-top {
  border: 2px solid #ffc107;
  border-radius: 50%;
}

.container #depart .card-title {
  text-align: center;
}

.container #newOffers .card {
  border: 0;
}

.container #newOffers .card-img-top {
  border: 0;
}

.container #newOffers .card-title {
  text-align: center;
  font-weight: bold;
}

.container #newOffers .card-text {
  text-align: center;
}

@media (min-width: 576px) {
  .container #depart .col-lg,
  .container #depart .col-sm-4 {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  .container #newOffers .col-lg,
  .container #newOffers .col-sm-6 {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
}


.carousel-inner {
  width: 100%;
  height: 800px; 
}

.carousel-item {
  width: 100%;
  height: 100%;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

